# Ignorar archivos de IntelliJ
/.idea/
*.iml
out/
*.class
sources.txt
AGENT.md

# Permitir código fuente
!src/
!src/**

# Ignorar esta carpeta concreta
src/java/Controller/ConexionBD
src/.env
# Permitir archivos útiles del proyecto
!.gitignore
!README.md
!pom.xml
!build.gradle
!build.gradle.kts
