# Ignorar archivos de IntelliJ
/.idea/
*.iml
out/

# Permitir código fuente
!src/
!src/**

# Ignorar esta carpeta concreta
src/java/Controller/ConexionBD

# Permitir archivos útiles del proyecto
!.gitignore
!README.md
!pom.xml
!build.gradle
!build.gradle.kts